<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniRide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <h1>🚗 UNIRIDE</h1>
        <div class="nav-links">
            <a href="/home">Accueil</a>
            <a href="/trajets-page">Trouver un trajet</a>
            <a href="/conducteur-page">Publier un trajet</a>
            <a href="/mes-reservations-page">Mes réservations</a>
            <a href="/profil-page">Profil</a>
            <a href="/admin">Admin</a>
            <a href="/login-page">Connexion</a>
            <a href="/register-page">Inscription</a>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
