<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>UniRide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>UniRide Canada</h1>
        <p>Plateforme de covoiturage.</p>

        <div class="buttons">
            <a class="btn" href="/register-page">Créer un compte</a>
            <a class="btn" href="/login-page">Se connecter</a>
            <a class="btn secondary" href="/trajets-page">Voir les trajets</a>
        </div>
    </div>
</body>
</html>